* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.beginner {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    animation: fadeIn 750ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    50% {
        filter: blur(10px);
        opacity: 0.9;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

.glitch {
    position: relative;
    font-size: 5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 0.05em 0 0 rgba(223, 13, 13, 0.75), -0.025em -0.05em 0 rgba(13, 223, 13, 0.75), 0.025em 0.05em rgba(9, 166, 238, 0.75);
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.05em, -0.025em);*/
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgb(255, 0, 0, 0.75), -0.05em -0.025em 0 rgb(0, 255, 0, 0.75), -0.025em 0.05em 0 rgb(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 0.05em 0 0 rgb(255, 0, 0, 0.75), -0.05em -0.025em 0 rgb(0, 255, 0, 0.75), -0.025em 0.05em 0 rgb(0, 0, 255, 0.75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgb(255, 0, 0, 0.75), 0.025em 0.025em 0 rgb(0, 255, 0, 0.75), -0.05em -0.05em 0 rgb(0, 0, 255, 0.75);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 rgb(255, 0, 0, 0.75), 0.025em 0.025em 0 rgb(0, 255, 0, 0.75), -0.05em -0.05em 0 rgb(0, 0, 255, 0.75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgb(255, 0, 0, 0.75), 0.05em 0 0 rgb(0, 255, 0, 0.75), 0 -0.05em 0 rgb(0, 0, 255, 0.75);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 rgb(255, 0, 0, 0.75), 0.05em 0 0 rgb(0, 255, 0, 0.75), 0 -0.05em 0 rgb(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgb(255, 0, 0, 0.75), -0.025em -0.025em 0 rgb(0, 255, 0, 0.75), -0.025em -0.05em 0 rgb(0, 0, 255, 0.75);
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0px;
    }
}

.landing-bg {
    background-color: black;
}

.welcome-section {
    min-width: 300px;
    background-color: #3B185F;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.arrow-moving-main {
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    max-width: 75px;
    max-height: 75px;
    margin-top: 38vh;
}

.welcome-section>div {
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-section>div>div>h1 {
    font-size: 65px;
}

.welcome-section>div>div>h3 {
    font-size: 35px;
}

.information-section {
    min-width: 300px;
    background-color: #A12568;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 7vw;
}

.information-section>div {
    display: flex;
    align-items: center;
    height: 100%;
}

.arrow-moving-main-container {
    max-width: 75px;
    max-height: 75px;
}

.arrow-moving-info-container {
    max-width: 75px;
    max-height: 75px;
}

.arrow-moving-info {
    max-width: 75px;
    max-height: 75px;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

hr {
    border: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 20px 20px rgb(255, 255, 255)
}

#info-text {
    opacity: 0;
    padding-right: 2vw;
    padding-left: 2vw;
    color: #FFFFFF;
    text-shadow: 2px 0px 8px rgb(255, 255, 255), 0px 0px 15px rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.animate-info-text-close {
    animation: fadeOut 1000ms ease-in-out forwards;
}

.animate-info-text {
    animation: fadeIn 1000ms ease-in-out forwards;
}

.img-fluid {
    margin-right: 2vw;
    margin-left: 2vw;
    max-width: 600px;
    max-height: 600px;
    border-radius: 75px;
    -webkit-box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-out;
    animation: pictureScale 1000ms linear;
}

@keyframes pictureScale {
    from {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.img-fluid:hover {
    transform: translateX(5px) translateY(5px);
}

.col {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-section {
    padding-top: 75px;
    padding-bottom: 70px;
    min-width: 300px;
    background-color: #5158BB;
    width: 100%;
    min-height: 100vh;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#projects-container>a {
    text-decoration: none;
    color: white;
    margin: auto;
    transition: transform 0.3s ease-out;
}

.project-tile {
    background-color: rgb(255, 251, 30);
    max-height: 500px;
    width: 325px;
    margin: auto;
    -webkit-box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
}

#projects-container>a:hover {
    transform: translateX(5px) translateY(5px);
}

.code {
    color: #7D89F5;
    transition: color 0.3s ease-out;
}

.project-tile:hover .code {
    color: #F5CC95;
}

.tile-img {
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    display: block;
}

.tile-text {
    background-color: #440829;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.contacts-section {
    min-width: 300px;
    background-color: black;
    width: 100%;
    height: 15vh;
    padding-left: 50px;
}

.col-sm-8 {
    padding-top: 15px;
}

.col-sm-4 {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.contacts-section>div {
    margin-left: 7vw;
    margin-right: 1vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-img {
    max-height: 40px;
    max-width: 40px;
    margin: 4px;
}

@media (max-width: 768px) and (max-height: 768px) {
    .welcome-section {
        min-width: 300px;
        background-color: #3B185F;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        min-height: 400px;
    }
    .information-section {
        min-width: 300px;
        padding-left: 0vw;
        padding-right: 0vw;
        padding-top: 5vh;
        min-height: 600px;
        height: 100vh;
    }
    .information-section>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .row {
        display: block;
        align-items: center;
        flex-direction: column-reverse;
    }
    .arrow-moving-main-container {
        max-width: 75px;
        max-height: 75px;
        margin-bottom: 20vh;
    }
    .arrow-moving-info-container {
        max-width: 75px;
        max-height: 75px;
        margin-top: 4vh;
    }
    .arrow-moving-info {
        max-width: 75px;
        max-height: 75px;
        animation: MoveUpDown 2s linear infinite;
        position: relative;
    }
    .info-text {
        padding-right: 2vw;
        padding-left: 2vw;
        font-size: 19px;
    }
    .img-fluid {
        margin-right: 2vw;
        margin-left: 2vw;
        max-width: 200px;
        max-height: 200px;
        border-radius: 75px;
        -webkit-box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 12px 13px 10px 10px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease-out;
        margin-bottom: 4vh;
    }
    .img-fluid:hover {
        transform: translateX(5px) translateY(5px);
    }
    .col {
        display: flex;
        justify-content: center;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .projects-section {
        padding-top: 75px;
        padding-bottom: 70px;
        min-width: 300px;
        background-color: #FFC069;
        width: 100%;
        min-height: 100vh;
    }
    #projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
    #projects-container>a {
        text-decoration: none;
        color: white;
        margin: auto;
        transition: transform 0.3s ease-out;
    }
    .project-tile {
        background-color: rgb(255, 251, 30);
        max-height: 500px;
        width: 325px;
        margin: auto;
        -webkit-box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
        box-shadow: 12px 13px 22px -3px rgba(0, 0, 0, 0.5);
    }
    #projects-container>a:hover {
        transform: translateX(5px) translateY(5px);
    }
    .code {
        color: #7D89F5;
        transition: color 0.3s ease-out;
    }
    .project-tile:hover .code {
        color: #F5CC95;
    }
    .tile-img {
        max-width: 400px;
        max-height: 250px;
        width: 100%;
        display: block;
    }
    .tile-text {
        background-color: #440829;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .contacts-section {
        min-width: 300px;
        background-color: black;
        width: 100%;
        height: 15vh;
        padding-left: 175px;
        padding-right: 50px;
    }
    .col-sm-8 {
        padding-top: 15px;
    }
    .col-sm-4 {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    .contacts-section>div {
        margin-left: 7vw;
        margin-right: 7vw;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .footer-img {
        max-height: 40px;
        max-width: 40px;
        margin: 4px;
    }
}